# Notebooks

notebooks/
*ipynb

# Temporal files 

tmp/

# Data

pipeline/pp0_data/
data/
*.json
*.feather
*.pickle


# Environment
venv/
env/
.venv/
.env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# VSCode
.vscode/

# Environment variables
.env
.env.*

# Binaries
*.png
*.jpg
*.pkl

# MLFlow

mlruns/
# TODO REVISAR QUE PARTE DE LA CARPETA SE COMITEA Y QUE NO